.header{
    background-image: url("img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    text-align: center;
    text-size-adjust: 20px;
    color: white;
    padding-top:200px;
}
#row{
    background-image: url("img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    text-align: center;
    color: white;
    padding-top:200px;  
}
.service{
    background-image: url("img/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-align: center;
    color: white;
    padding-top:70px;
}
#2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 .col-md-12{
     text-align: center;
 } 
.contact{
    background-image: url("img/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px; 
    text-align: center; 
    color: white;
}
.contact > h1{
    padding:20px;
}
textarea{
    width: 570px;
    height: 180px;
    padding: 12px 20px;
    /* border: 2px solid #ccc; */
    /* border-radius: 4px; */
    background-color:transparent;
    font-size: 20px;
    /* resize: none; */
    color: white;  
}
input{
    color: white;
    background-color:transparent;
}
.giant{
    background-color:transparent;
    height: 25px;
    width: 280px;   
}
::placeholder{
    color: white;
    font-size: 12px;
}
.footer{
    text-align: center;
    font-family: Barlow semi condensed;
}
 #table{
 border-collapse:separate; 
    border-spacing:0 15px; 
}
table { 
    border-collapse: collapse; 
} #1{
    margin-left: 80px;
}
#2{
    margin-left: 160px;
}
#3{
    margin-right: 80px;   
} 
.row{
    text-align: center;
}
.good ,.nice ,.best{
display: none;
}
-----------------------------------------------------------------------------

<table >
<tr>
    <td><img src="img/work4.jpg" height="150"></td>
    <td><img src="img/work3.jpg" height="150"></td>
    <td><img src="img/work2.jpg" height="150"></td>
    <td><img src="img/work1.jpg" height="150"></td>
</tr>
<tr>
        <td><img src="img/work5.jpg" height="150"></td>
        <td><img src="img/work6.jpg" height="150"></td>
        <td><img src="img/work7.jpg" height="150"></td>
        <td><img src="img/work8.jpg" height="150"></td>
    </tr>
</table>


var name=prompt("enter your name");
var email= prompt("enter your email");
var message= prompt("enter your message");
alert("name :" + "message received. thanks");
